/*
---01 TYPOGRAPHY SYSTEM
-FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 /
 44 / 52 / 62 / 74 / 86 / 98

-Font Weights:
Defulat: 400
Medium: 500
Semi-bold:600
bold: 700

Default: 400
-Line Heights:
Defualt: 1
small: 1.05
modium: 1.2
large: 1.8

-letter spacing:
 0.5px
 0.75px
Defult:1
small 1.05
paragraph default 1.6

---02 COLOR
Primary: #e67e22
Tints: 
#fdf2e9
#fae5d3
#eb984e
f5e3d2
Shades:
#cf711f
#45260a
Accents:
Greys
#767676 lightest grey allowed on #fff)
#888
#555
#333
#6f6f6f(lightest grey allowed on #fdf2e9)

---05  SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
---06 BORDER-RaDIUS
Defualt: 9px
Medium: 11px
---07 WHITESPACE

 -SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*font-size: 10px;
  10px/16px = 0.625 = 62.5%
  percentage of user's browser front-size setting
  */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  /* Only work if there is nothing absolutely 
  positioned in relation to body*/
  overflow-x: hidden;
}
/**************************/
/*General Reusable Components*/
/**************************/

.container {
  /*1140px*/
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /*grid-template-columns: repeat(2, 1fr);*/
  /* margin-bottom: 9.6rem;*/
}

/*.grid:last-child {
  margin-bottom: 0;
}*/

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}*/

.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.5rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /*Only necessary for .btn*/
  border: none;
  cursor: pointer;
  font-family: inherit;

  /*put transition on original "state"*/
  /*transition: background-color 0.3s;*/
  transition: all 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #333;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /*border: 4px solid #fff;*/
  /*Trick add border inside*/
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  color: #e67e22;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.list-icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #e67e22;
}

*:focus {
  outline: none;
  /*outline: 4px dotted #e67e22;
  outline-offset: 8px;*/
  box-shadow: 0 0 0 0.8rem #e67d2276;
}
/*Helper/Settings Classes*/
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.content-text {
  text-align: center;
}
strong {
  font-weight: 500;
}
