/**************************/
/*Header*/
/**************************/
.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Because we want heade sticky later*/
  height: 9.6rem;
  padding: 0 4.8rem;
  /*position: relative;*/
}
.logo {
  height: 2.2rem;
}

/**************************/
/*Navigation*/
/**************************/
.Main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.Main-nav-link:link,
.Main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.Main-nav-link:hover,
.Main-nav-link:active {
  color: #cf711f;
}

.Main-nav-link.nav-cta:link,
.Main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background: #e67e22;
  color: #fff;
}

.Main-nav-link.nav-cta:hover,
.Main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/*Mobile*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/*ŸçSticky Naviation*/
/**************************/
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgb(0, 0, 0, 0.03);
}
/*Hero Section*/
/**************************/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #555;
}
.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}

/**************************/
/*Featured in Section*/
/**************************/

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
  filter: brightness(0);
  opacity: 50%;
}
.logos img {
  height: 3.2rem;
  color: #333;
}
.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: #999;
  text-align: center;
  margin-bottom: 2.4rem;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4.8rem;
  color: #555;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/**************/
/*How It Work Section*/
/**************/
.section-how {
  padding: 9.6rem 0;
}

.step-number {
  font-size: 9.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.6rem;
  line-height: 1.2;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  /*height: 60%;*/
  /*60% of parent's width*/
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  /*height: 60%;*/
  /*60% of parent's width*/
  padding-bottom: 45%;
  background-color: #f5e3d2;
  z-index: -1;
}
.step-img {
  width: 35%;
}
/**************/
/*Meals Section*/
/**************/
.section-meals {
  padding: 9.6rem 0;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribut {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.meal-icon
/*.list-icon*/ {
  width: 2.2rem;
  height: 2.2rem;
  color: #e67e22;
}

.meal {
  box-shadow: 0 2.4rem 2.8rem rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translatey(-1.5rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meal-content {
  padding: 1.2rem 2.2rem 2.2rem 2.2rem;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}
.tag--Vegetarian {
  background-color: #51cf66;
}

.tag--Vegan {
  background-color: #94d82d;
}

.tag--Paleo {
  background-color: #ffd43b;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.5rem;
}

/**************/
/*Testimonials Section*/
/**************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimomial-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimomial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-test {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  margin-bottom: 0;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************/
/*Price Section*/
/**************/
.section-Pricing {
  padding: 6.2rem 0;
}

.Pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.Pricing-plan-starter {
  justify-self: end;
  padding: 4.6rem;
  border: 2px solid #fdf2e9;
}
.Pricing-plan-comlete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.Pricing-plan-comlete::after {
  content: "Best Value";
  position: absolute;
  top: 6%;
  right: -12%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 4rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.5rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/**************/
/*Cta Section*/
/**************/

.section-cta {
  /*top/ right/ bottom/ left*/
  /*padding: 9.2rem 0 12.8rem 0;*/
  /*top /horizontal/ left*/
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  /*2/3 = 66.6% + 1/3 = 33.3%*/
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.015);
  border-radius: 11px;
  /*background-image: linear-gradient(360deg, red, #e67e22);*/
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  /*color: #45260a;*/
  color: inherit;
  margin-bottom: 3.2rem;
  font-size: 3rem;
}

.cta-img-box {
  background-image: linear-gradient(to right bottom, #eb974e85, #e67d225b),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;

  box-shadow: 0 0 0 0.8rem #e36a088a;
}

/**************/
/*Footer Section*/
/**************/

.footer {
  padding: 12.8rem 0;

  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.2fr 1.2fr 1fr 1fr 1fr;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}
.copyright {
  font-size: 1rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.2rem;
  color: #767676;
  transition: all 0.3s;
  text-decoration: none;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
